body{
    background-color: #fafafa;
    box-sizing: border-box;
    font-size: 16px;
}
h1 {
    font-size: 3em;
}
button {
    padding: 10px 30px;
    font-size: 1.5em;
    margin: 0.5em;
    border-radius: 5px;
    background-color: #ff7d4a;
    border:none;
    outline: none;
}
button:hover {
    background-color: rgb(250, 81, 38);
    cursor: pointer;
    outline: none;
}

p {
    font-size: 3em;
    background-color: burlywood;
    padding: 5px 15px;
    border-radius: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}